@keyframes menu {
    from { transform: rotate(280deg);}
    to { transform: rotate(0deg);}
}
@keyframes btn {
    from{background-color: rgb(252,1,1);}
    to{background-color:rgba(1,93,233,1) ;}
}

.navbar-custom{
    background: rgb(252,1,1);
    background: linear-gradient(293deg, rgba(252,1,1,1) 0%, rgba(1,93,233,1) 100%);
    height: 5rem;
    border-bottom: 2px solid black;
    align-items: center !important;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.border-class{
    border: 2px solid white;
}

.border-class:hover{
    border-color:rgb(252,1,1) ;
    animation-name: btn;
    animation-duration: 1s;
    background-color: rgb(131, 131, 131);
    box-shadow: 1px 1px 10px rgb(36, 36, 36);
}

.font{
    font-size: 22px;
}

.menu{
    float: right;
}

.menu-items{
    display: none;
}

.show-items{
       width: 25%;
       background: rgb(252,1,1);
       background: linear-gradient(293deg, rgba(252,1,1,1) 0%, rgba(1,93,233,1) 100%);
       align-items: center;
       height: 89vh;
       overflow-y: auto;
       position: fixed;
       right: 0rem;
       z-index: 9;
       top: 5rem;
}

.menu-list{
    border-bottom: 1px solid white;
    animation-name: menu;
    animation-duration: .5s;
}
.menu-list:hover{
    border-bottom: 2px solid white !important;
    cursor: pointer;
}
.city-btn{
    border: 2px solid white !important;
    color: white;
}

.city-btn:hover{
    background-color:rgba(1,93,233,1) ;
    color: white;
    box-shadow: 1px 1px 10px rgb(1, 25, 61);
}

.list-container{
    background-color: whitesmoke;
    padding-top: 6rem;
    padding-left: 5rem;
}

.list-container div{
    background: rgb(252,1,1);
       background: linear-gradient(293deg, rgba(252,1,1,1) 0%, rgba(1,93,233,1) 100%);
    /* background-color: white; */
    box-shadow: 1px 1px 20px rgb(180, 180, 180);
    border-radius: 10px;
}
.list-container div:hover{
    box-shadow: 1px 1px 20px rgb(75, 75, 75);

}
.list-container h1{
    color: white;
} 
.list-container td{
    font-size: 20px !important;
    padding: 1rem;
    color: white ;
}

